In [114]:
import pandas as pd

In [115]:
act=pd.Series(["dog","cat","dog","cat","dog","cat","dog"],name="Actual")
pred=pd.Series(["dog","dog","cat","cat","dog","dog","dog"],name="Predicted")

In [116]:
data_conf=pd.crosstab(act,pred)

In [117]:
data_conf

Predicted  cat  dog
Actual
cat          1    2
dog          1    3

In [118]:
# we can also create a normalized confusion matrix, so that our value will be in b/w 0 to 1
# in this the first diagonal element i.e.,1 is divided by the sum of its corresponding row i.e., 3 as we have assigned axis=1.
# similar operation is carried out on remaining 3 elements of matrix
df_conf_normalise=data_conf/data_conf.sum(axis=1)
df_conf_normalise

Predicted       cat   dog
Actual
cat        0.333333  0.50
dog        0.333333  0.75

In [119]:
import numpy as np

In [120]:
np.round(df_conf_normalise,2)

Predicted   cat   dog
Actual
cat        0.33  0.50
dog        0.33  0.75

In [121]:
TP=0
TN=0
FN=0
FP=0
for x in range(len(pred)):
    if act[x]==pred[x]=="dog":
        TP+=1
    if act[x]==pred[x]=="cat":
        TN+=1
    if pred[x]=="cat" and act[x]!=pred[x]:
        FN+=1
    if pred[x]=="dog" and act[x]!=pred[x]:
        FP+=1
print("True Positive:",TP)
print("True Negative:",TN)
print("False Negative:",FN)
print("False Positive:",FP)

True Positive: 3
True Negative: 1
False Negative: 1
False Positive: 2

In [122]:
# Accuracy
accuracy=(TP+TN)/(TP+TN+FP+FN)
accuracy

0.5714285714285714

In [123]:
# precision
precision=TP/(TP+FP)
precision

0.6

In [124]:
# recall
recall=TP/(TP+FN)
recall

0.75

In [125]:
# f1 score
f1=(2*precision*recall)/(precision+recall)
f1

0.6666666666666665