In [213]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as ply
%matplotlib inline

In [214]:
data=pd.read_csv("Logistic_Regression_Binary_Classsification_Churn_Data.csv")
data.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [215]:
data.keys()

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [216]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
customerID          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 495.3+ KB

In [217]:
data.shape

(7043, 9)

In [218]:
churn=pd.get_dummies(data["Churn"],drop_first=True)
churn.head()

   Yes
0    0
1    0
2    1
3    0
4    1

In [219]:
data=pd.concat([data,churn],axis=1)
data.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,Yes
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,0
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,0
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1

In [220]:
data.keys()

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'Yes'],
      dtype='object')

In [221]:
data.shape

(7043, 10)

In [222]:
v=data.drop(["customerID","PhoneService","Contract","PaperlessBilling","PaymentMethod","Churn"],axis=1)
v

      tenure  MonthlyCharges TotalCharges  Yes
0          1           29.85        29.85    0
1         34           56.95       1889.5    0
2          2           53.85       108.15    1
3         45           42.30      1840.75    0
4          2           70.70       151.65    1
5          8           99.65        820.5    1
6         22           89.10       1949.4    0
7         10           29.75        301.9    0
8         28          104.80      3046.05    1
9         62           56.15      3487.95    0
10        13           49.95       587.45    0
11        16           18.95        326.8    0
12        58          100.35       5681.1    0
13        49          103.70       5036.3    1
14        25          105.50      2686.05    0
15        69          113.25      7895.15    0
16        52           20.65      1022.95    0
17        71          106.70      7382.25    0
18        10           55.20       528.35    1
19        21           90.05       1862.9    0
20         1           39.65        39.65    1
21        12           19.80       202.25    0
22         1           20.15        20.15    1
23        58           59.90       3505.1    0
24        49           59.60       2970.3    0
25        30           55.30       1530.6    0
26        47           99.35      4749.15    1
27         1           30.20         30.2    1
28        72           90.25      6369.45    0
29        17           64.70       1093.1    1
...      ...             ...          ...  ...
7013      40           93.40       3756.4    0
7014      41           89.20      3645.75    0
7015      34           85.20      2874.45    0
7016       1           49.95        49.95    0
7017      51           20.65      1020.75    0
7018       1           70.65        70.65    1
7019      39           20.15          826    0
7020      12           19.20          239    0
7021      12           59.80        727.8    1
7022      72          104.95       7544.3    0
7023      63          103.50       6479.4    0
7024      44           84.80      3626.35    0
7025      18           95.05       1679.4    0
7026       9           44.20       403.35    1
7027      13           73.35       931.55    0
7028      68           64.10      4326.25    0
7029       6           44.40       263.05    0
7030       2           20.05        39.25    0
7031      55           60.00       3316.1    0
7032       1           75.75        75.75    1
7033      38           69.50      2625.25    0
7034      67          102.95      6886.25    1
7035      19           78.70       1495.1    0
7036      12           60.65        743.3    0
7037      72           21.15       1419.4    0
7038      24           84.80       1990.5    0
7039      72          103.20       7362.9    0
7040      11           29.60       346.45    0
7041       4           74.40        306.6    1
7042      66          105.65       6844.5    0

[7043 rows x 4 columns]

In [223]:
X=df.drop("Yes",axis=1)
y=df["Yes"]
X.head(2)

   tenure  MonthlyCharges TotalCharges
0       1           29.85        29.85
1      34           56.95       1889.5

In [224]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Yes, dtype: uint8

In [225]:
from sklearn.model_selection import train_test_split

In [226]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.25, random_state=1)

In [227]:
from sklearn.linear_model import LogisticRegression

In [228]:
reg=LogisticRegression()

In [229]:
reg.fit(X_train,y_train)

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: